{% extends "base.html" %}

{% block content %}
    
    <div class="container" >
         <h1>Welcome to the Flask Authentication App</h1>
           
            <form action="{{url_for('login')}}" id="auth-form" method="post">
               <input type="text" name="username" placeholder="Username" class="input-field">
               <input type="password" name="password" placeholder="Password" class="input-field">
               <input type="submit" value="Login" class="btn btn-login" onclick="setActionForm('login')">
               <input type="button" value="Register" class="btn btn-register" onclick="setActionForm('register')">
               <input type="button" value="Login with Google" class="btn btn-google" onclick="setActionForm('google')">        
            </form>

    </div>

    <script>
       function setActionForm(form){
            let authForm = document.getElementById('auth-form');
            if(form === 'login'){
               authForm.action = "{{url_for('login')}}";
            } else if(form === 'register'){
               authForm.action = "{{url_for('register')}}";
            }else if(form === 'google'){
               authForm.action = "{{url_for('login_google')}}";
            }
            authForm.submit();
       }
    </script>

{% endblock %}